/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.itemssearcher-item-results {
	@extend .item-results;
	margin-bottom:$sc-margin-lv2;
}

.itemssearcher-item-results-image {
	@extend .item-results-image;
	margin:0;
	border:0;
}

.itemssearcher-item-results-content {
	@extend .item-results-content;
	margin:0;
	padding:$sc-padding-lv1;
}

.itemssearcher-item-results-title {
	@extend .item-results-title;
	margin:0;
	padding:$sc-padding-lv1;
}
.itemssearcher-item-all-results {
	@extend .all-results;
	margin:0;
	padding:$sc-padding-lv1;
}
.itemssearcher-item-no-results {
	@extend .no-results;
	margin:0;
	padding:$sc-padding-lv1;
}
.itemssearcher-item-searching {
	@extend .searching;
	margin:0;
	padding:$sc-padding-lv1;
}
.itemssearcher-item-shadow {
	
}