/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-views-price-lead {
	@extend .middle-price;
}

.saleClass {
	color: $sc-color-error!important;

	font-size: $sc-font-size-m;
	font-weight: bold;

	span.saleLine{display:block;width:auto;}
}

div.cart-quickaddtocart-price {
	span.saleClass {
		font-size: $sc-font-size-s !important;
	}
	span.saleLine{display:inline!important;}
}

.product-views-price-old {
	@extend .old-price;
}

.product-views-price-login-to-see-prices-highlighted {
	margin-top: $sc-margin-lv2;
	margin-bottom: $sc-margin-lv2;
}

.product-views-price-login-to-see-prices {
	@extend .message;
}

.product-views-price-message {
	font-weight: normal;
}

.product-views-price {
	margin: 0;
}

.product-views-price-range {}

.product-views-price-exact {}

.product-views-price-table {
	width: 100%;
	max-width: 400px;

	td {
		padding: $sc-padding-lv2 0 !important;
	}

	a {
		border-bottom: 1px solid #888;
		text-align: left;
	}
}

.price-message {
	color: #888;
}