@import url("https://hello.myfonts.net/count/36b1ce");

 /*
@font-face {font-family: 'ProximaNovaA-Bold';src: url('../fonts/36B1CE_0_0.eot');src: url('../fonts/36B1CE_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_0_0.woff2') format('woff2'),url('../fonts/36B1CE_0_0.woff') format('woff'),url('../fonts/36B1CE_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Bold';src: url('../fonts/36B1CE_1_0.eot');src: url('../fonts/36B1CE_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_1_0.woff2') format('woff2'),url('../fonts/36B1CE_1_0.woff') format('woff'),url('../fonts/36B1CE_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Bold';src: url('../fonts/36B1CE_2_0.eot');src: url('../fonts/36B1CE_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_2_0.woff2') format('woff2'),url('../fonts/36B1CE_2_0.woff') format('woff'),url('../fonts/36B1CE_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Light';src: url('../fonts/36B1CE_3_0.eot');src: url('../fonts/36B1CE_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_3_0.woff2') format('woff2'),url('../fonts/36B1CE_3_0.woff') format('woff'),url('../fonts/36B1CE_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Regular';src: url('../fonts/36B1CE_4_0.eot');src: url('../fonts/36B1CE_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_4_0.woff2') format('woff2'),url('../fonts/36B1CE_4_0.woff') format('woff'),url('../fonts/36B1CE_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Light';src: url('../fonts/36B1CE_5_0.eot');src: url('../fonts/36B1CE_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_5_0.woff2') format('woff2'),url('../fonts/36B1CE_5_0.woff') format('woff'),url('../fonts/36B1CE_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Light';src: url('../fonts/36B1CE_6_0.eot');src: url('../fonts/36B1CE_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_6_0.woff2') format('woff2'),url('../fonts/36B1CE_6_0.woff') format('woff'),url('../fonts/36B1CE_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Regular';src: url('../fonts/36B1CE_7_0.eot');src: url('../fonts/36B1CE_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_7_0.woff2') format('woff2'),url('../fonts/36B1CE_7_0.woff') format('woff'),url('../fonts/36B1CE_7_0.ttf') format('truetype');}
 
  */

@font-face {font-family: 'ProximaNova-Regular';src: url('../fonts/36B1CE_8_0.eot');src: url('../fonts/36B1CE_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_8_0.woff2') format('woff2'),url('../fonts/36B1CE_8_0.woff') format('woff'),url('../fonts/36B1CE_8_0.ttf') format('truetype');}
 /*
  
@font-face {font-family: 'ProximaNovaA-Semibold';src: url('../fonts/36B1CE_9_0.eot');src: url('../fonts/36B1CE_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_9_0.woff2') format('woff2'),url('../fonts/36B1CE_9_0.woff') format('woff'),url('../fonts/36B1CE_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Semibold';src: url('../fonts/36B1CE_A_0.eot');src: url('../fonts/36B1CE_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_A_0.woff2') format('woff2'),url('../fonts/36B1CE_A_0.woff') format('woff'),url('../fonts/36B1CE_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Semibold';src: url('../fonts/36B1CE_B_0.eot');src: url('../fonts/36B1CE_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36B1CE_B_0.woff2') format('woff2'),url('../fonts/36B1CE_B_0.woff') format('woff'),url('../fonts/36B1CE_B_0.ttf') format('truetype');}

*/
 
$Proxima-font:'ProximaNova-Regular', sans-serif;